* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f6f9;
  padding: 40px 20px;
}
/* li {
  color: rgb(0, 255, 0); 
}
 .*/
.main_container {
  background-color: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.asideBar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.aboutMeConteiner {
  padding: 110px 90px;
}
.contactsConteiner {
  margin: 60px 40px 0px 40px;
}
.contactsTitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.contactsLink {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* Text style for "+38 095 11" */
  letter-spacing: 0.42px;
  /* Text style for "chornyiav@" */
  letter-spacing: 0.42px;
  text-decoration: underline;
  color: #8e949c;
}
.CE {
  font-weight: 700;
  letter-spacing: 0.42px;
  color: #ffffff;
  margin-right: 10px;
}
/* Style for "Tech Skill" & "Soft Skill"*/
.techSkillsTitle {
  width: 121px;
  height: 17px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.techSkillsComteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.techSkillsItem {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
}

.techSkillsText {
  color: #b4b8bd;
}

/* Main  */
/* Text style for "Front-End" */
.Profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 23px;
}
.Name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}
.Description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* Text style for "Lorem ipsu" */
  letter-spacing: 0.42px;
  margin-top: 24px;
}
.infoConteiner {
  margin-bottom: 65px;
}
.projectsTitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.projectsLink {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.projectsDots {
  color: #595959;
  font-weight: 100;

  /* font-size: 14px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 0.42px; */
}
.techName {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.projectItem {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.projectConteiner {
  margin-bottom: 55px;
}
/* Text style for "Front-End" */
.workTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  margin-top: 25px;
  margin-bottom: 15px;
}
/* Text style for "Freelance" */
.orgName {
  color: #ff6b08;
  letter-spacing: 0.48px;
}
.Education_conteiner {
  margin-top: 53px;
}
.professionDates {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
  /* Text style for "June 2014" */
  /* letter-spacing: 0.36px; */
}
.profDivider {
  color: black;
}
.profText {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* Text style for "Lorem ipsu" */
  letter-spacing: 0.42px;
}
